# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Cache
.cache/
.ipynb_checkpoints
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.hypothesis/
.pytest_cache/

# VSCode / PyCharm
.vscode/
.idea/

# Jupyter Notebook
*.ipynb_checkpoints

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db

# Secrets
*.env

# Project specific
vector_store/
extracted_images/
*.npy
*.faiss
*.pdf
srun_sbatch.sh
initize_project.sh
